.profile-info {    
    padding-top: 30px;
    text-align: center;
    padding-bottom: 15px;
}

@media (min-width:768px) {
    .profile-info {
        padding-top: 100px;
        padding-bottom: 75px;
    }
}

body{
    background-color: #1abc9c;
    background: linear-gradient(to right, #1abc9c, #0a7661);
    font-family: 'Open Sans', sans-serif;       
}

.share-128 {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 64px; 
    opacity: 0.9; 
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;	
    background:  url(../img/circle128.png) 0 0;
}
.share-128:hover {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 64px; 
    opacity: 1;
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
    -o-transform: translate(0,-20px);
    -moz-transform: translate(0,-20px);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;	
    box-shadow: 0 0 30px 15px #1ce1ba;
    background:  url(../img/circle128.png) 0 0;
}

.share-128.share-twitter {
    background-position: -128px -256px;    
}

.share-128.share-fb {
    background-position: 0px -256px;
}
.share-128.share-vk {
    background-position: -128px -1024px;
}
.share-128.share-instagram {
    background-position: -256px -512px;
}
.share-128.share-github {
    background-position: -383px -768px;
}

.object {
/** This css rule will make the object 
move smoothly and animated **/
	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;	    
}
.object:hover {
/** This css rule will make the object 
move smoothly and animated **/
	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;	
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg); 
}