{
    name: Art Vandelay

    intro_line_0: Art works in Importing.
    intro_line_1: Actually he is an Importer-Exporter.

    current_occupations: [
        {
            occupation: Imports gum
            at: Vandelay LLC
        }
        {
            occupation: Imports diapers
            at: Vandelay LLC
        }
    ]

    props: {
        items: [
            item1
            item2
        ]
    }

    deep_array: [
        []
        [
            [
                hello
                there
                human
                {
                    even_deeper: {
                        woah: []
                    }
                }
            ]
        ]
    ]
}
