$desktop: "only screen and (min-width: 1200px)";
$color-cyan-100: #B2EBF2;
$color-cyan-200: #80DEEA;
$color-cyan-300: #4DD0E1;
$color-cyan-400: #26C6DA;
$color-cyan-500: #00BCD4;
$color-cyan-600: #00ACC1;
$color-cyan-700: #0097A7;
$color-cyan-800: #00838F;
$color-cyan-900: #006064;
$color-gray: #37474F;

@mixin scaling-animation($name, $max-scale) {
    @keyframes #{$name} {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale($max-scale, $max-scale);
        }
        50% {
            transform: scale(1, 1);
        }
        75% {
            transform: scale($max-scale, $max-scale);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}

@mixin mask-icon($img-name, $color) {
    mask: url($img-name) no-repeat 50% 50%;
    mask-size: contain;
    background-color: $color;
}

@include scaling-animation(scaling, 1.15);
.scaling {
    transform: translate3d();
    animation: scaling 64s linear infinite;
}

@keyframes rotation {
    100% {
        transform: rotate(359deg);
    }
}

.rotating {
    animation: rotation 256s linear infinite;
}

html {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
    color: $color-gray;
}

body {
    height: 100%;
    background: linear-gradient(135deg, $color-cyan-100, $color-cyan-200 20%, $color-cyan-300 40%, $color-cyan-400 50%, $color-cyan-500 60%, $color-cyan-600 70%, $color-cyan-700 80%, $color-cyan-800 90%, $color-cyan-900);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-item {
    margin-top: 1rem;
}

.profile-image {
    background-image: url("../img/profile.jpg");
    width: 45vw;
    max-width: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    &:before {
        content: "";
        padding-top: 100%;
        display: inline-block;
    }
}

.profile-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    .name {
        font-size: 1.7rem;
        text-align: center;
    }

    .from {
        font-size: 1.2rem;
    }
}

nav.content-item.social {
    width: 50%;
    max-width: 500px;
}

.social-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .icon {
        display: block;
        min-width: 50px;
        width: 4vw;
        margin: 5px;

        &:before {
            content: "";
            padding-top: 100%;
            display: inline-block;
        }

        &:hover {
            animation: rotation 1s cubic-bezier(.075, .82, .165, 1) 1;
        }
    }

    .icon-github {
        @include mask-icon("../img/github.svg", $color-gray);
    }

    .icon-twitter {
        @include mask-icon("../img/twit.svg", $color-gray);
    }

    .icon-vkontakte {
        @include mask-icon("../img/vk.svg", $color-gray);
    }

    .icon-instagram {
        @include mask-icon("../img/insta.svg", $color-gray);
    }

    .icon-facebook {
        @include mask-icon("../img/fb.svg", $color-gray);
    }
}
